form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 2rem;
}

input[type="submit"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #ccc;
}

#name, #email, #message {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  width: 100%;
  
}