* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Arrow Style */
svg {
  width: 2vw;
}

/* main style */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

/* main style end */

/* Header Styles */
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: #f5f5f5;
  padding: 0 3rem;
  transition: color 0.3s;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  
}

ul > li > a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  margin: 0 0.2rem;
  transition: 0.3s;
  margin: 0 1rem;
  
}

ul > li > a:hover {
  color: #8f8f8f;
}

/* Header Style End */

/* Hero Styles Start */
.hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0 2rem;
}

.hero-text {
  font-size: 1.1rem;
  width: 35vw;
}

.hero > div > h1 {
  font-size: 4rem;
  font-weight: 300;
  color: #333;
}

.hero span {
  font-weight: 600;
}

img {
  width: 35vw;
  margin-right: 5rem;
  border-radius: 100%;
}

/* Hero styles End */

/* About me start */

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  height: 100vh;
  width: 100%;
  margin: 0 2rem;
}

.about-me > p {
  font-size: 1.5rem;
  font-weight: 300;
  width: 35vw;
}

.about-me h2 {
  padding-bottom: 3rem;
  font-size: 3rem;
}

/* about me end */

/* Contact */
.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 40vw;
  margin: 0 2rem;
  padding-top: 100px;
  padding-bottom: 100px;
}

.contact > h2 {
  font-size: 3rem;
  font-weight: 500;
  
}

.cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 60px;
}

contact-text {
  flex-basis: 48%;
}

.contact-text h3 {
  font-size: 2rem;
  font-weight: 400;
  text-transform: capitalize;
  margin-right: 1rem;
  
}

.contact-text h6,
.contact-text .address,
.contact-text .mail {
  font-size: 1rem;
  color: black;
  text-decoration: none;
}

.contact-text h6 {
  color: black;
}

.contact-form {
  flex-basis: 48%;
}

.cont .contact-form form {
  display: flex;
  flex-direction: column;
}

.cont .contact-form form label {
  padding: 10px 0;
}

.cont .contact-form form input,
.cont .contact-form form textarea {
  padding: 10px 0;
  resize: none;
  margin: 6px 0;
  border-radius: 12px;
  outline: none;
  border: 2px solid rgba(96, 96, 96, 0.419);
}

.cont .contact-form form input[type="submit"] {
  margin: 16px 0;
  width: 15vw;
  cursor: pointer;
  border: 2px solid rgba(96, 96, 96, 0.419);
  font-weight: 500;
  transition: 0.4s;
}

.cont .contact-form form input[type="submit"]:hover {
  color: black;
  font-weight: 600;
}

.socials {
  width: 2vw;
}

figure {
  margin-top: 1.2rem;
}

figure a {
  text-decoration: none;
  color: black;
}

h6 {
  padding-top: 3rem;
}

/* Footer Styles Start*/

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: black;
  color: white;
}

/* Footer Styles End */

/*  Media Queries */

@media (max-width: 480px) {
  /* Arrow Style */
  svg {
    width: 7vw;
  }

  /* hero */

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 2rem;
    text-align: center;
  }

  .hero-text {
    font-size: 1rem;
    width: 90vw;
  }

  .hero > div > h1 {
    font-size: 4rem;
    font-weight: 300;
    color: #333;
  }

  .hero span {
    font-weight: 600;
  }

  img {
    margin: 0 auto;
    width: 80vw;
  }

  /* About me start */

  .about-me {
    color: white;
    background-color: black;
    margin: 0 2rem;
  }

  .about-me > p {
    font-size: 1rem;
    font-weight: 300;
    width: 90vw;
  }

  .about-me h1 {
    padding-bottom: 3rem;
    font-size: 3rem;
  }

  /* about me end */

  /* footer */
  footer {
    height: 10vh;
  }

  /* Contact form */
  .cont {
    flex-direction: column;
  }
  .contact {
    padding-top: 4rem;
    height: 100%;
  }
  .cont .contact-form form input,
  .cont .contact-form form textarea {
    width: 100%;
  }
  .cont .contact-form form input[type="submit"] {
    width: 40vw;
    font-size: 1rem;
    text-transform: uppercase;
  }
  .contact-text p {
    margin-right: 0;
  }

  .socials {
    width: 8vw;
  }

  .contact-text h3 {
    width: 90vw;
    text-align: center;
}
}
